In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.174400
   2   -0.371669
   3    0.997484
b  1   -0.709310
   2   -0.796640
c  3    0.057809
   1    0.091730
d  2   -0.096062
   3    1.937864
dtype: float64

In [2]:
data['a']

1    0.174400
2   -0.371669
3    0.997484
dtype: float64

In [3]:
data['b']

1   -0.70931
2   -0.79664
dtype: float64

In [4]:
data.unstack()

         1         2         3
a  0.17440 -0.371669  0.997484
b -0.70931 -0.796640       NaN
c  0.09173       NaN  0.057809
d      NaN -0.096062  1.937864

In [5]:
data.unstack().stack()

a  1    0.174400
   2   -0.371669
   3    0.997484
b  1   -0.709310
   2   -0.796640
c  1    0.091730
   3    0.057809
d  2   -0.096062
   3    1.937864
dtype: float64

In [6]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['縣市', '顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [7]:
frame.stack(level=['縣市','顏色']).unstack(level='key1')

key1             a     b
key2 縣市 顏色
1    台中 Green  2.0   8.0
     台北 Green  0.0   6.0
        Red    1.0   7.0
2    台中 Green  5.0  11.0
     台北 Green  3.0   9.0
        Red    4.0  10.0

In [8]:
frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0