In [2]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.387541
   2    0.382976
   3   -0.855512
b  1    1.052411
   2    0.004800
c  3   -1.108834
   1   -0.122919
d  2   -2.955445
   3    0.089637
dtype: float64

In [3]:
data['a']

1   -0.387541
2    0.382976
3   -0.855512
dtype: float64

In [4]:
data['b']

1    1.052411
2    0.004800
dtype: float64

In [5]:
data.unstack() #unstack()表格資料

          1         2         3
a -0.387541  0.382976 -0.855512
b  1.052411  0.004800       NaN
c -0.122919       NaN -1.108834
d       NaN -2.955445  0.089637

In [6]:
data.unstack().stack() #stack()堆疊資料

a  1   -0.387541
   2    0.382976
   3   -0.855512
b  1    1.052411
   2    0.004800
c  1   -0.122919
   3   -1.108834
d  2   -2.955445
   3    0.089637
dtype: float64

In [7]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['縣市', '顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [11]:
frame.stack().stack()

key1  key2  顏色     縣市
a     1     Green  台北     0.0
                   台中     2.0
            Red    台北     1.0
      2     Green  台北     3.0
                   台中     5.0
            Red    台北     4.0
b     1     Green  台北     6.0
                   台中     8.0
            Red    台北     7.0
      2     Green  台北     9.0
                   台中    11.0
            Red    台北    10.0
dtype: float64

In [9]:
frame.stack(level=['縣市','顏色']).unstack(level='key1')

key1             a     b
key2 縣市 顏色
1    台中 Green  2.0   8.0
     台北 Green  0.0   6.0
        Red    1.0   7.0
2    台中 Green  5.0  11.0
     台北 Green  3.0   9.0
        Red    4.0  10.0

In [10]:
frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0