In [3]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns= ['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -2.144850 -1.086881 -0.570061
台中  0.625606  0.388032 -1.012920
台南  0.027076  0.928870 -0.679312
高雄 -2.427925 -0.333431 -0.165480

In [4]:
np.abs(frame) #abs()絕對值

           b         d         e
台北  2.144850  1.086881  0.570061
台中  0.625606  0.388032  1.012920
台南  0.027076  0.928870  0.679312
高雄  2.427925  0.333431  0.165480

In [5]:
#使用numpy做統計的動作
display(np.mean(frame,axis=0)) #mean()算平均
display(np.mean(frame,axis=1))

b   -0.980023
d   -0.025852
e   -0.606943
dtype: float64

台北   -1.267264
台中    0.000239
台南    0.092211
高雄   -0.975612
dtype: float64

In [6]:
#dataFrame.mean()
display(frame.mean())
display(frame.mean(axis=1))

b   -0.980023
d   -0.025852
e   -0.606943
dtype: float64

台北   -1.267264
台中    0.000239
台南    0.092211
高雄   -0.975612
dtype: float64

In [7]:
frame.loc['台北'].mean()

-1.2672638550625812

In [8]:
np.mean(frame.loc['台北'])

-1.2672638550625812