In [4]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df.index = df['學號']
df1 = df.drop(columns='學號')
df1

     姓名  國文   英文  數學  地理   歷史   總分    平均
學號
1   劉嘉泰  80   56  78  64   97  375  75.0
2   陳淑娟  83   96  83  89   62  413  82.6
3   羅佩樺  51   66  87  68  100  372  74.4
4   張天亨  90   72  74  69   93  398  79.6
5   陳向愛  88   60  92  74   86  400  80.0
6   吳柏誠  50   69  66  65   78  328  65.6
7   劉萬季  56   64  68  75  100  363  72.6
8   馮耀中  68   98  70  87   67  390  78.0
9   劉旭士  60  100  78  86   55  379  75.8
10  陳俊憲  53   61  68  63   73  318  63.6
11  張明惟  83   88  52  88   58  369  73.8
12  陳樂紫  80   86  62  63   60  351  70.2
13  吳淑惠  95   85  83  78   58  399  79.8
14  陳信宏  60   86  70  77   51  344  68.8
15  翁鈺婷  87   64  61  79  100  391  78.2
16  劉嘉泰  92   70  87  64   89  402  80.4
17  張伊映  86   91  66  94   55  392  78.4
18  陳倩潔  94   82  60  71   80  387  77.4
19  王品星  88   54  54  60   58  314  62.8
20  陳俊憲  74   83  83  62   70  372  74.4

In [9]:
df1['排名'] = df1['平均'].rank(method='min',ascending=False)
df2 = df1.sort_values(by='排名',ascending=True)
df2 = df1.sort_values(by='平均',ascending=False) #也可以
df2

     姓名  國文   英文  數學  地理   歷史   總分    平均    排名
學號
2   陳淑娟  83   96  83  89   62  413  82.6   1.0
16  劉嘉泰  92   70  87  64   89  402  80.4   2.0
5   陳向愛  88   60  92  74   86  400  80.0   3.0
13  吳淑惠  95   85  83  78   58  399  79.8   4.0
4   張天亨  90   72  74  69   93  398  79.6   5.0
17  張伊映  86   91  66  94   55  392  78.4   6.0
15  翁鈺婷  87   64  61  79  100  391  78.2   7.0
8   馮耀中  68   98  70  87   67  390  78.0   8.0
18  陳倩潔  94   82  60  71   80  387  77.4   9.0
9   劉旭士  60  100  78  86   55  379  75.8  10.0
1   劉嘉泰  80   56  78  64   97  375  75.0  11.0
20  陳俊憲  74   83  83  62   70  372  74.4  12.0
3   羅佩樺  51   66  87  68  100  372  74.4  12.0
11  張明惟  83   88  52  88   58  369  73.8  14.0
7   劉萬季  56   64  68  75  100  363  72.6  15.0
12  陳樂紫  80   86  62  63   60  351  70.2  16.0
14  陳信宏  60   86  70  77   51  344  68.8  17.0
6   吳柏誠  50   69  66  65   78  328  65.6  18.0
10  陳俊憲  53   61  68  63   73  318  63.6  19.0
19  王品星  88   54  54  60   58  314  62.8  20.0

In [10]:
df2.iloc[:10]

     姓名  國文   英文  數學  地理   歷史   總分    平均    排名
學號
2   陳淑娟  83   96  83  89   62  413  82.6   1.0
16  劉嘉泰  92   70  87  64   89  402  80.4   2.0
5   陳向愛  88   60  92  74   86  400  80.0   3.0
13  吳淑惠  95   85  83  78   58  399  79.8   4.0
4   張天亨  90   72  74  69   93  398  79.6   5.0
17  張伊映  86   91  66  94   55  392  78.4   6.0
15  翁鈺婷  87   64  61  79  100  391  78.2   7.0
8   馮耀中  68   98  70  87   67  390  78.0   8.0
18  陳倩潔  94   82  60  71   80  387  77.4   9.0
9   劉旭士  60  100  78  86   55  379  75.8  10.0

In [11]:
df2.iloc[-10:]

     姓名  國文  英文  數學  地理   歷史   總分    平均    排名
學號
1   劉嘉泰  80  56  78  64   97  375  75.0  11.0
20  陳俊憲  74  83  83  62   70  372  74.4  12.0
3   羅佩樺  51  66  87  68  100  372  74.4  12.0
11  張明惟  83  88  52  88   58  369  73.8  14.0
7   劉萬季  56  64  68  75  100  363  72.6  15.0
12  陳樂紫  80  86  62  63   60  351  70.2  16.0
14  陳信宏  60  86  70  77   51  344  68.8  17.0
6   吳柏誠  50  69  66  65   78  328  65.6  18.0
10  陳俊憲  53  61  68  63   73  318  63.6  19.0
19  王品星  88  54  54  60   58  314  62.8  20.0

In [12]:
df2.head(n=10) #前十名

     姓名  國文   英文  數學  地理   歷史   總分    平均    排名
學號
2   陳淑娟  83   96  83  89   62  413  82.6   1.0
16  劉嘉泰  92   70  87  64   89  402  80.4   2.0
5   陳向愛  88   60  92  74   86  400  80.0   3.0
13  吳淑惠  95   85  83  78   58  399  79.8   4.0
4   張天亨  90   72  74  69   93  398  79.6   5.0
17  張伊映  86   91  66  94   55  392  78.4   6.0
15  翁鈺婷  87   64  61  79  100  391  78.2   7.0
8   馮耀中  68   98  70  87   67  390  78.0   8.0
18  陳倩潔  94   82  60  71   80  387  77.4   9.0
9   劉旭士  60  100  78  86   55  379  75.8  10.0

In [13]:
df2.tail(n=10) #後十名

     姓名  國文  英文  數學  地理   歷史   總分    平均    排名
學號
1   劉嘉泰  80  56  78  64   97  375  75.0  11.0
20  陳俊憲  74  83  83  62   70  372  74.4  12.0
3   羅佩樺  51  66  87  68  100  372  74.4  12.0
11  張明惟  83  88  52  88   58  369  73.8  14.0
7   劉萬季  56  64  68  75  100  363  72.6  15.0
12  陳樂紫  80  86  62  63   60  351  70.2  16.0
14  陳信宏  60  86  70  77   51  344  68.8  17.0
6   吳柏誠  50  69  66  65   78  328  65.6  18.0
10  陳俊憲  53  61  68  63   73  318  63.6  19.0
19  王品星  88  54  54  60   58  314  62.8  20.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1 to 20
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學號      20 non-null     int64
 1   姓名      20 non-null     object
 2   國文      20 non-null     int64
 3   英文      20 non-null     int64
 4   數學      20 non-null     int64
 5   地理      20 non-null     int64
 6   歷史      20 non-null     int64
 7   總分      20 non-null     int64
 8   平均      20 non-null     float64
dtypes: float64(1), int64(7), object(1)
memory usage: 1.6+ KB

In [15]:
df2.query('排名<=10')

     姓名  國文   英文  數學  地理   歷史   總分    平均    排名
學號
2   陳淑娟  83   96  83  89   62  413  82.6   1.0
16  劉嘉泰  92   70  87  64   89  402  80.4   2.0
5   陳向愛  88   60  92  74   86  400  80.0   3.0
13  吳淑惠  95   85  83  78   58  399  79.8   4.0
4   張天亨  90   72  74  69   93  398  79.6   5.0
17  張伊映  86   91  66  94   55  392  78.4   6.0
15  翁鈺婷  87   64  61  79  100  391  78.2   7.0
8   馮耀中  68   98  70  87   67  390  78.0   8.0
18  陳倩潔  94   82  60  71   80  387  77.4   9.0
9   劉旭士  60  100  78  86   55  379  75.8  10.0

In [16]:
df2

     姓名  國文   英文  數學  地理   歷史   總分    平均    排名
學號
2   陳淑娟  83   96  83  89   62  413  82.6   1.0
16  劉嘉泰  92   70  87  64   89  402  80.4   2.0
5   陳向愛  88   60  92  74   86  400  80.0   3.0
13  吳淑惠  95   85  83  78   58  399  79.8   4.0
4   張天亨  90   72  74  69   93  398  79.6   5.0
17  張伊映  86   91  66  94   55  392  78.4   6.0
15  翁鈺婷  87   64  61  79  100  391  78.2   7.0
8   馮耀中  68   98  70  87   67  390  78.0   8.0
18  陳倩潔  94   82  60  71   80  387  77.4   9.0
9   劉旭士  60  100  78  86   55  379  75.8  10.0
1   劉嘉泰  80   56  78  64   97  375  75.0  11.0
20  陳俊憲  74   83  83  62   70  372  74.4  12.0
3   羅佩樺  51   66  87  68  100  372  74.4  12.0
11  張明惟  83   88  52  88   58  369  73.8  14.0
7   劉萬季  56   64  68  75  100  363  72.6  15.0
12  陳樂紫  80   86  62  63   60  351  70.2  16.0
14  陳信宏  60   86  70  77   51  344  68.8  17.0
6   吳柏誠  50   69  66  65   78  328  65.6  18.0
10  陳俊憲  53   61  68  63   73  318  63.6  19.0
19  王品星  88   54  54  60   58  314  62.8  20.0