In [2]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [4]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=2,thousands=',',decimal='.').relabel_index(['列一','列二'])

In [5]:
#視覺美化資料表
#pip install jinja2
df.style.\
format(precision=2,thousands=',',decimal='.')\
.relabel_index(['列一','列二'])

In [6]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  4.069707  0.020856
2023-09-02  1.897481  4.914396
2023-09-03  0.447637  1.461368
2023-09-04  4.109726  4.939042
2023-09-05  0.445477  3.657681
2023-09-06  2.056830  1.554042
2023-09-07  2.414114  1.646410
2023-09-08  2.015979  2.298504
2023-09-09  3.233426  4.163170
2023-09-10  2.662450  0.662385