In [1]:
import pandas as pd

pd.read_csv('學生成績.csv')

   學號   姓名  國文  英文   數學  地理  歷史   總分    平均
0   1  林珍旺  79  76  100  77  87  419  83.8
1   2  郭致恬  91  86   81  77  85  420  84.0
2   3  鄧亭聿  87  90   91  88  54  410  82.0
3   4  彭茹靖  73  58   64  53  91  339  67.8
4   5  張彥博  80  94   79  64  91  408  81.6