In [4]:
import pandas as pd

df = pd.read_csv("world.csv")
allDataFrame = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
taiwan = allDataFrame[allDataFrame["國家"] == "日本"]
taiwan

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本  2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本  2020-01-26        4      2  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]