In [4]:
import numpy as np

student = np.array([67,78,92,74,65])
student[0]
student[4]

65

In [5]:
import pandas as pd

s1 = pd.Series([67,78,92,74,65],index=['國文','英文','數學','地理','歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [6]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [14]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_45427/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [8]:
for i in s1:
    print(i)

67
78
92
74
65

In [9]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [10]:
#利用numpy的function做統計
np.sum(s1)

376

In [11]:
np.mean(s1)

75.2

In [12]:
np.std(s1)

9.620810776644555

In [13]:
np.median(s1)

74.0

In [15]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [17]:
import pandas as pd
pd.DataFrame({
    '徐xx':[90,89,90,89,89],
    '呂xx':[90,78,89,78,89],
    '王xx':[89,90,89,78,78],
},index=['國文','英,89文','數學','地理','歷史'])

       徐xx  呂xx  王xx
國文      90   90   89
英,89文   89   78   90
數學      90   89   89
地理      89   78   78
歷史      89   89   78