In [4]:
import numpy as np

student = np.array([67,78,92,74,65])
student[0]
student[4]

65

In [5]:
import pandas as pd

s1 = pd.Series([67,78,92,74,65],index=['國文','英文','數學','地理','歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [6]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [14]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_45427/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [8]:
for i in s1:
    print(i)

67
78
92
74
65

In [9]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [10]:
#利用numpy的function做統計
np.sum(s1)

376

In [11]:
np.mean(s1)

75.2

In [12]:
np.std(s1)

9.620810776644555

In [13]:
np.median(s1)

74.0

In [15]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [18]:
import pandas as pd
pd.DataFrame({
    '徐xx':[90,89,90,89,89],
    '呂xx':[90,78,89,78,89],
    '王xx':[89,90,89,78,78],
},index=['國文','英文','數學','地理','歷史'])

    徐xx  呂xx  王xx
國文   90   90   89
英文   89   78   90
數學   90   89   89
地理   89   78   78
歷史   89   89   78

In [19]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index=range(1,51),
             columns=['國文','英文','數學','地理','歷史'])

    國文  英文  數學  地理  歷史
1   79  93  97  87  63
2   71  75  95  97  80
3   60  77  77  87  69
4   64  61  61  70  90
5   66  93  89  81  98
6   69  76  65  66  99
7   79  80  97  71  73
8   82  60  93  90  97
9   65  88  82  83  99
10  72  77  96  60  88
11  72  72  89  88  80
12  61  78  94  61  67
13  95  70  66  96  88
14  94  73  86  65  64
15  98  82  85  96  63
16  83  60  98  63  93
17  62  93  64  77  97
18  73  89  71  90  68
19  90  75  90  88  64
20  81  74  93  60  89
21  85  84  91  90  84
22  94  88  62  94  71
23  95  87  79  70  76
24  64  96  93  78  67
25  78  67  93  61  87
26  77  63  93  68  78
27  78  76  78  84  82
28  79  79  98  93  77
29  64  72  67  64  96
30  84  67  87  61  76
31  81  80  79  61  61
32  85  85  90  81  72
33  95  89  97  82  84
34  82  85  65  72  88
35  60  97  62  87  93
36  86  95  79  64  67
37  93  66  71  87  95
38  71  60  71  88  86
39  60  90  71  66  74
40  89  81  99  81  81
41  78  82  75  65  87
42  61  80  78  71  63
43  84  86  85  97  64
44  75  81  99  71  74
45  82  71  88  70  83
46  82  97  80  75  88
47  80  69  97  87  97
48  96  99  81  69  78
49  97  85  85  72  80
50  81  60  66  99  89