In [1]:
import pandas as pd
import numpy as np

s1 = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d', 'b', 'a', 'c'])
s1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
s1.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [3]:
s1.values

array([ 4.5,  7.2, -5.3,  3.6])

In [ ]:
#reindex()重新排序
s1.reindex(['a', 'b', 'c', 'd'])

In [4]:
s1.reindex(['a', 'b'])

a   -5.3
b    7.2
dtype: float64

In [5]:
frame = pd.DataFrame(np.arange(9).reshape(3, 3),
             index=['a','c','d'],
             columns=['台北', '台中', '高雄'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [6]:
frame.reindex(['a','c'])

   台北  台中  高雄
a   0   1   2
c   3   4   5

In [7]:
frame.reindex(['a','d'],columns=['高雄','台北','台中'])

   高雄  台北  台中
a   2   0   1
d   8   6   7