In [1]:
#使用list建立Series
import pandas as pd

s1 = pd.Series([4,5,-6,2])
s1

0    4
1    5
2   -6
3    2
dtype: int64

In [4]:
#使用index, values
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.values

array([ 4,  5, -6,  2])

In [12]:
#自訂Series的index

s2 = pd.Series([4, 7, -5, 3],index=['d', 'b', 'a', 'c'])
s2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [14]:
s2.values

array([ 4,  7, -5,  3])

In [15]:
display(s2)
print("===========")
display(s2['a'])
s2['a'] = 5
print("===========")
display(s2)
print("============")
s2[["c", "b", "d"]]

d    4
b    7
a   -5
c    3
dtype: int64

===========

-5

===========

d    4
b    7
a    5
c    3
dtype: int64

============

c    3
b    7
d    4
dtype: int64

In [16]:
import numpy as np
display(s2)
print("==========")
display(s2 * 2)
np.exp(s2)

d    4
b    7
a    5
c    3
dtype: int64

==========

d     8
b    14
a    10
c     6
dtype: int64

d      54.598150
b    1096.633158
a     148.413159
c      20.085537
dtype: float64

In [17]:
'e' in s2, 'a' in s2

(False, True)

In [18]:
#dictionary 建立Series
sdata = {'國文':78,'英文':86,'數學':96,'地理':64,'歷史':92}
s3 = pd.Series(sdata,index=['國文','數學','英文'])
s3

國文    78
數學    96
英文    86
dtype: int64

In [19]:
s4 = pd.Series(sdata,index=['國文','數學','探索'])
s4

國文    78.0
數學    96.0
探索     NaN
dtype: float64

In [20]:
#使用pandas.isnull()
pd.isnull(s4)

國文    False
數學    False
探索     True
dtype: bool

In [21]:
#使用pandas.notnull()
pd.notnull(s4)

國文     True
數學     True
探索    False
dtype: bool

In [22]:
#實體方法()
s4.isnull()

國文    False
數學    False
探索     True
dtype: bool

In [23]:
#實體方法()
s4.notnull()

國文     True
數學     True
探索    False
dtype: bool