In [1]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [2]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=2,thousands=',',decimal='.').relabel_index(['列一','列二'])

In [3]:
#視覺美化資料表
#pip install jinja2
df.style.\
format(precision=2,thousands=',',decimal='.')\
.relabel_index(['列一','列二'])

In [4]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  4.361679  1.624849
2023-09-02  1.798251  4.147386
2023-09-03  3.939540  0.923234
2023-09-04  2.220197  1.894623
2023-09-05  4.255968  3.322710
2023-09-06  3.433727  1.284066
2023-09-07  0.163525  3.726726
2023-09-08  1.902957  2.962441
2023-09-09  1.021640  2.076920
2023-09-10  0.857578  2.871281

In [5]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None) #漸層顏色

In [6]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1) #列axis=0 欄axis=1

In [7]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;') #將負數變紅字

          A         B         C         D
0 -1.186199  0.527243 -0.441833 -1.360186
1  0.768275 -1.005220 -0.568611 -1.644926
2  1.028677  1.972519  0.442553 -1.491133
3 -0.393294 -0.334353  0.393628 -0.009019
4  0.346351  0.137728 -1.024364  1.452462
5 -0.290849  0.331373  0.676606  2.048021
6  0.953166  0.430356  0.701797 -0.595889
7 -0.532130 -0.019065 -0.454276  0.827316
8  0.308788  0.133824  0.334087  0.175527
9  0.249546 -0.924985 -0.520377  1.427788