In [2]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [3]:
#視覺美化資料表
#pip install jinja2
df.style.format(precision=2,thousands=',',decimal='.').relabel_index(['列一','列二'])

In [4]:
#視覺美化資料表
#pip install jinja2
df.style.\
format(precision=2,thousands=',',decimal='.')\
.relabel_index(['列一','列二'])

In [5]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  3.133564  3.788720
2023-09-02  4.966850  0.912434
2023-09-03  1.524785  4.569069
2023-09-04  0.541712  3.915800
2023-09-05  2.355688  0.113316
2023-09-06  2.310239  2.344216
2023-09-07  4.276079  4.081311
2023-09-08  1.753359  2.383353
2023-09-09  1.066469  1.480220
2023-09-10  2.600500  3.108003

In [6]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None) #漸層顏色

In [9]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1) #列axis=0 行axis=1