In [19]:
import yfinance as yf
data = yf.download("AAPL", period="1mo")
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-11,180.070007,180.300003,177.339996,179.360001,179.360001,58953100
2023-09-12,179.490005,180.130005,174.820007,176.300003,176.300003,90370200
2023-09-13,176.509995,177.300003,173.979996,174.210007,174.210007,84267900
2023-09-14,174.000000,176.100006,173.580002,175.740005,175.740005,60895800
2023-09-15,176.479996,176.500000,173.820007,175.009995,175.009995,109205100
2023-09-18,176.479996,179.380005,176.169998,177.970001,177.970001,67257600
2023-09-19,177.520004,179.630005,177.130005,179.070007,179.070007,51826900
2023-09-20,179.259995,179.699997,175.399994,175.490005,175.490005,58436200
2023-09-21,174.550003,176.300003,173.860001,173.929993,173.929993,63047900
2023-09-22,174.669998,177.080002,174.050003,174.789993,174.789993,56725400
2023-09-25,174.199997,176.970001,174.149994,176.080002,176.080002,46172700
2023-09-26,174.820007,175.199997,171.660004,171.960007,171.960007,64588900
2023-09-27,172.619995,173.039993,169.050003,170.429993,170.429993,66921800
2023-09-28,169.339996,172.029999,167.619995,170.690002,170.690002,56294400
2023-09-29,172.020004,173.070007,170.339996,171.210007,171.210007,51814200
2023-10-02,171.220001,174.300003,170.929993,173.750000,173.750000,52164500
2023-10-03,172.259995,173.630005,170.820007,172.399994,172.399994,49594600
2023-10-04,171.089996,174.210007,170.970001,173.660004,173.660004,53020300
2023-10-05,173.789993,175.449997,172.679993,174.910004,174.910004,48527900
2023-10-06,173.800003,177.990005,173.179993,177.490005,177.490005,57224100
2023-10-09,176.809998,179.050003,175.800003,178.990005,178.990005,42342200

In [9]:
import yfinance as yf
data = yf.download("2330.TW", start="2022-01-01",end="2022-12-31")
tw2330 = data[['Adj Close']]
tw2330.columns = ['台積電']
tw2330

[*********************100%%**********************]  1 of 1 completed

                   台積電
Date
2022-01-03  607.793152
2022-01-04  631.873718
2022-01-05  626.094482
2022-01-06  620.315063
2022-01-07  610.682861
...                ...
2022-12-26  449.421234
2022-12-27  449.913483
2022-12-28  444.006531
2022-12-29  439.084045
2022-12-30  441.545288

[246 rows x 1 columns]

In [10]:
data = yf.download("2303.TW", start="2022-01-01",end="2022-12-31")
tw2303 = data[['Adj Close']]
tw2303.columns = ['聯電']
tw2303

[*********************100%%**********************]  1 of 1 completed

                   聯電
Date
2022-01-03  55.519875
2022-01-04  55.169590
2022-01-05  55.257156
2022-01-06  54.906876
2022-01-07  54.819305
...               ...
2022-12-26  39.069618
2022-12-27  39.022995
2022-12-28  38.043922
2022-12-29  37.997299
2022-12-30  37.950680

[246 rows x 1 columns]

In [11]:
data = yf.download("2454.TW", start="2022-01-01",end="2022-12-31")
tw2454 = data[['Adj Close']]
tw2454.columns = ['聯發科']
tw2454

[*********************100%%**********************]  1 of 1 completed

                   聯發科
Date
2022-01-03  944.696411
2022-01-04  957.018494
2022-01-05  965.233276
2022-01-06  932.374329
2022-01-07  903.622681
...                ...
2022-12-26  587.967773
2022-12-27  592.483643
2022-12-28  576.226501
2022-12-29  568.097900
2022-12-30  564.485168

[246 rows x 1 columns]

In [12]:
data = yf.download("2317.TW", start="2022-01-01",end="2022-12-31")
tw2317 = data[['Adj Close']]
tw2317.columns = ['鴻海']
tw2317

[*********************100%%**********************]  1 of 1 completed

                   鴻海
Date
2022-01-03  93.433083
2022-01-04  93.886642
2022-01-05  98.875793
2022-01-06  97.061554
2022-01-07  96.607994
...               ...
2022-12-26  96.345215
2022-12-27  95.868263
2022-12-28  95.868263
2022-12-29  95.105125
2022-12-30  95.295914

[246 rows x 1 columns]

In [13]:
import pandas as pd
frame = pd.concat([tw2330,tw2303,tw2454,tw2317],axis=1)
frame

                   台積電         聯電         聯發科         鴻海
Date
2022-01-03  607.793152  55.519875  944.696411  93.433083
2022-01-04  631.873718  55.169590  957.018494  93.886642
2022-01-05  626.094482  55.257156  965.233276  98.875793
2022-01-06  620.315063  54.906876  932.374329  97.061554
2022-01-07  610.682861  54.819305  903.622681  96.607994
...                ...        ...         ...        ...
2022-12-26  449.421234  39.069618  587.967773  96.345215
2022-12-27  449.913483  39.022995  592.483643  95.868263
2022-12-28  444.006531  38.043922  576.226501  95.868263
2022-12-29  439.084045  37.997299  568.097900  95.105125
2022-12-30  441.545288  37.950680  564.485168  95.295914

[246 rows x 4 columns]

In [14]:
frame1 = frame.pct_change()
frame2=frame1.fillna(0)
frame2

                 台積電        聯電       聯發科        鴻海
Date
2022-01-03  0.000000  0.000000  0.000000  0.000000
2022-01-04  0.039620 -0.006309  0.013043  0.004854
2022-01-05 -0.009146  0.001587  0.008584  0.053140
2022-01-06 -0.009231 -0.006339 -0.034042 -0.018349
2022-01-07 -0.015528 -0.001595 -0.030837 -0.004673
...              ...       ...       ...       ...
2022-12-26  0.003297 -0.001192 -0.013636  0.000000
2022-12-27  0.001095 -0.001193  0.007680 -0.004950
2022-12-28 -0.013129 -0.025090 -0.027439  0.000000
2022-12-29 -0.011087 -0.001226 -0.014107 -0.007960
2022-12-30  0.005605 -0.001227 -0.006359  0.002006

[246 rows x 4 columns]

In [15]:
#相關係數
frame2.corr()

          台積電        聯電       聯發科        鴻海
台積電  1.000000  0.681726  0.683782  0.495082
聯電   0.681726  1.000000  0.660899  0.501817
聯發科  0.683782  0.660899  1.000000  0.500785
鴻海   0.495082  0.501817  0.500785  1.000000

In [16]:
def fun1(s):
    max = s.max() * 100
    min = s.min() * 100
    return pd.Series([f'{max:.2f}%',f'{min:.2f}%'],index=['最高','最低'])
frame2.apply(fun1)

       台積電      聯電     聯發科      鴻海
最高   8.34%   9.23%   7.54%   5.31%
最低  -8.33%  -6.96%  -7.03%  -3.26%