In [1]:
#list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [ ]:
#tuple
weekdays1 = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
weekdays1

In [1]:
#tuple只可讀不可修改
t1 = (10, 20)

#read
display(t1[0])
display(t1[1])

#不可寫入
# t1[0] = 30 -> 錯誤的

10

20

In [3]:
#使用拆解法,取出tuple內的資料

(value1, value2) = t1
display(value1)
value2

10

20

In [4]:
#使用拆解法,取出tuple內的資料

value1, value2 = t1 #可不加小括號
display(value1)
value2

10

20

In [5]:
#建立tuple,省略()
2, 4, 6, 8, 10

(2, 4, 6, 8, 10)